.heroWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  filter: brightness(45%) contrast(1.2);
}

/* Text content */
.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
  padding: 1rem;
  width: 90%;
}