:root {
  --background: #ffffff;
  --foreground: #171717;
  --link-color: #121212;
  --active-color: #1976d2;
  --drawer-bg: #f0f0f0;
  --drawer-hover: #ddd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  --link-color: #fff;
  --active-color: #90caf9;
  --drawer-bg: #121212;
  --drawer-hover: #2a2a2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.layout {
  min-height: calc(100vh - 106px);
  padding: 10px;
}